.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  /* background-color: #393E46; */
  background-color: #181823;

}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow:5px 2px 3px #025952;
/* offset-x | offset-y | blur-radius | color */
  font-size: 8rem;
  color: #14FFEC;
}

p {
  font-size: 2rem;
  color: #14FFEC;
  font-family: 'Indie Flower', cursive;
  text-shadow:2px 2px 3px #06645c;

}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #ffffff;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
}
h4{
  font-weight: bolder;
  text-shadow:1px 1px 10px #06645c;

}